# IDEs
.idea/
.vscode/
.DS_Store
*.iml
**/.project
**/.settings
*.code-workspace

# package managers
bower_components/
node_modules/

# env
.env

# coverage
coverage/

# Python
__pycache__/
*.pyc

# Logs
*.log

# BOM & Procurement
BOM*
P01BOM*

# Project Planning & Spreadsheets
plans/*.csv
plans/*.xlsx

# Binary build artifacts
*.elf
*.o

# KiCad Temporary & Local Preferences
*.kicad_prl
*-save.kicad_sch
*-save.kicad_pcb
_autosave-*
*.bak



